<div class="fly-panel fly-column" th:fragment="column" xmlns:th="http://www.thymeleaf.org">
  <div  class="layui-container">
    <ul id="class" class="layui-clear">
      <li th:class="${type == null?'layui-this':''}"><a href="/">首页</a></li>
      <li th:each="categorie:${categories}" th:class="${type == categorie.id?'layui-this':''}"><a th:href="${'/category/'+categorie.id+'/page/1'}" th:text="${categorie.category}" ></a></li>
      <!-- 用户登入后显示 -->
        <li th:if="${session.user!=null}" class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="/user/question">我发表的贴</a></li>
      <li th:if="${session.user!=null}" class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="/user/question/#collection">我收藏的贴</a></li>
    </ul> 
    
    <div  class="fly-column-right layui-hide-xs">
      <span class="fly-search" ><i class="layui-icon"></i></span>
      <a  href="/publish" class="layui-btn">发表新帖</a>
    </div> 
    <div class="layui-hide-sm layui-show-xs-block" style="margin-top: -10px; padding-bottom: 10px; text-align: center;">
      <span class="fly-search" ><i class="layui-icon"></i></span>
      <a href="/publish" class="layui-btn">发表新帖</a>
    </div> 
  </div>
</div>