 
 
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>FreeMI社区</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="FreeMI社区">
  <meta name="description" content="FreeMI社区">
  <link rel='icon' href='/images/freemi.ico' type='image/x-ico' />
  <link rel="stylesheet" href="/layui/css/layui.css">
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/tag.css">
  <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
</head>
<body>

<div th:replace="~{common/header :: head}"></div>

<div th:replace="~{common/column :: column}"></div>

<div class="layui-container">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md8">
      <div  class="fly-panel" style="margin-bottom: 0;">
        
        <div class="fly-panel-title fly-filter">
          <span class="fly-mid"></span>
          <a id="new" th:class="${sort == 'new'?'layui-this':''}" th:href="${newUrl}">最新发布</a>
          <span class="fly-mid"></span>
          <a id="hot" th:class="${sort == 'hot'?'layui-this':''}" th:href="${hotUrl}">最多评论</a>

        </div>

        <ul class="fly-list" th:each="question: ${pageInfo.list}">
          <li>
            <a th:href="${'/user/home/'+question.user.id}" class="fly-avatar">
              <img th:src="${question.user.avatarUrl}" alt="cwj">
            </a>
            <h2>
              <a th:class="${question.category == '公告'?'layui-badge layui-bg-green':'layui-badge'}" th:text="${question.category}" ></a>
              <a th:href="@{'/question/'+ ${question.id}+'/page/1'}" class="q_title" th:text="${question.title}"></a>
            </h2>
            <div class="fly-list-info">
              <a href="user/home.html" link>
                <cite><span th:text="${question.user.name}"></span></cite>
                <i class="layui-badge fly-badge-vip layui-bg-gray layui-hide-xs" th:text="${'LV'+question.user.lv}"></i>
              </a>
              <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>

                <span class="fly-list-like layui-hide-xs" title="悬赏米币">
                    <i class="layui-icon " style="color:#FFB800;">&#xe65e;</i>
                    <span  style="color:#FFB800;" th:text="${question.miCoin}"></span>
                </span>
                <span class="fly-list-like layui-hide-xs" title="Star"><i class="layui-icon " style="color:#FFB800;"></i><span style="color:#FFB800;" th:text="${question.likeCount}"></span></span>
              <span th:if="${question.acceptId != null}" class="layui-badge fly-badge-accept layui-hide-xs">已结</span>
              <span class="fly-list-nums">
                <i class="iconfont icon-pinglun1" title="回答"></i>
                <span th:text="${question.commentCount}"></span>
              </span>
            </div>
            <div class="fly-list-badge">
              <!--<span class="layui-badge layui-bg-red">精帖</span>-->
            </div>
          </li>
        </ul>
        
         <div th:if="${pageInfo.total<1}" class="fly-none">没有相关数据</div>

        <div th:if="${pageInfo.total >=1}" style="text-align: center">
          <div  id="paging">
<!--            <span class="laypage-curr">1</span>-->

          </div>
        </div>

      </div>
    </div>
    <div class="layui-col-md4">
      <div class="fly-panel">
        <h3 class="fly-panel-title">热门标签</h3>
          <div class="fly-panel-main">
        <a th:href="${'/tag/'+tag+'/page/1'}" href="javascript:; "th:each="tag:${hotTags}" >
          <span class="layui-badge  tag" th:text="${tag}"></span>
        </a>
          </div>
      </div>

      <!-- 回帖版单-->
      <div class="fly-panel fly-rank fly-rank-reply" id="LAY_replyRank">
        <h3 class="fly-panel-title">用户回贴榜</h3>
        <dl >
          <!--          <i class="layui-icon fly-loading">&#xe63d;</i>-->
          <dd th:each="sortUser:${commentCountUsers}">
            <a th:href="@{'/user/home/'+${sortUser.id}}">
              <img th:src="${sortUser.avatarUrl}"><cite th:text="${sortUser.name}"></cite><i th:text="${ sortUser.commentCounts+'次回答'}"></i>
            </a>
          </dd>

        </dl>
      </div>
      <dl class="fly-panel fly-list-one" >
        <dt class="fly-panel-title" >热议</dt>

        <dd th:each="question:${commentCountQuestions}" >
          <a th:href="${'/question/'+question.id+'/page/1'}"  th:text="${question.title}"></a>
          <span ><i class="iconfont icon-pinglun1"></i> [[${question.commentCount}]]</span>
        </dd>

        <!-- 无数据时 -->
        <!--
        <div class="fly-none">没有相关数据</div>
        -->
      </dl>

      <div class="fly-panel">
        <div class="fly-panel-title">
          广告位出租中
        </div>
        <div class="fly-panel-main">
          <a href="" target="_blank" class="fly-zanzhu" style="background-color: #393D49;">广告位出租中</a>
        </div>
      </div>

    </div>
  </div>
</div>
<div th:replace="common/footer :: foot"></div>


<script src="/layui/layui.js"></script>
<script>
layui.config({
  version: "3.0.0"
  ,base: '/mods/'
}).extend({
  fly: 'index'
}).use('fly');
</script>
<script th:inline="javascript">
  var condition =[[${condition}]];

  layui.use(['laypage', 'layer'], function() {
    var laypage = layui.laypage
            , layer = layui.layer;
    laypage.render({
      elem: 'paging'
      ,count: [[${pageInfo.total}]]
      ,limit:[[${pageInfo.pageSize}]]
      ,curr:[[${pageInfo.pageNum}]]
      ,first: '首页'
      ,last: '尾页'
      ,prev: '<em>←</em>'
      ,next: '<em>→</em>'
      ,jump: function(obj,first){
       if (!first){
         var url = [[${pageUrl}]] +obj.curr;
         if (condition){
           url = url +condition;
         }
         window.location.href = url;
       }
      }
    });
  })

  if (condition){
    var array = condition.toString().trim().split("=")[1].split(" ");
    $(".q_title").each(function() {

      //取得标签的文本
      var t = $(this).text();

      for (var i = 0; i < array.length; i++) {
        //定义正则表达式对象  array[i]是关键字   "g"是指全局范围
        var aa = new RegExp(array[i], "gi");
        var match = t.match(aa);
        if (match) {
          for (var j = 0; j < match.length; j++) {
            var bb = new RegExp(match[j], "g");
            t = t.replace(bb, "☜" + match[j] + "☞");
          }
        }
      }
      var areg = new RegExp("☜", "g");
      var breg = new RegExp("☞", "g");
      t = t.replace(areg,"<span style='color:#F00'>").replace(breg,"</span>");
      $(this).html(t);
    });
  }




</script>
</body>
</html>