
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>发表问题 编辑问题 公用</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="FreeMI社区">
  <meta name="description" content="FreeMI社区">
  <link rel='icon' href='/images/freemi.ico' type='image/x-ico' />
  <link rel="stylesheet" href="/layui/css/layui.css">
  <link rel="stylesheet" href="/css/global.css">
  <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
  <link rel="stylesheet" href="/css/editormd.min.css">
  <link rel="stylesheet" href="/css/editormd.preview.min.css">
  <link rel="stylesheet" href="/css/tag.css">
  <script th:src="@{/js/editormd.min.js}" type="application/javascript"></script>
  <script th:src="@{/js/moment.js}" type="application/javascript"></script>
  <script th:src="@{/js/lib/marked.min.js}"></script>
  <script th:src="@{/js/lib/prettify.min.js}"></script>
  <script th:src="@{/layui/layui.js}"></script>
</head>
<body>
<form id="tag-create"  style="display:none;" class="layui-form layui-form-pane" >
  <div class="layui-form-item layui-form-text">
    <label class="layui-form-label">标签名称</label>
    <div class="layui-input-block">
      <input type="text" required lay-verify="required" id="newTag"  name="tag" autocomplete="off" placeholder="请输入标题" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item layui-form-text">
    <label  class="layui-form-label">标签简介</label>
    <div class="layui-input-block">
      <textarea required lay-verify="required" id="tagbio" placeholder="请输入内容" class="layui-textarea"></textarea>
    </div>
  </div>
</form>
<div th:replace="~{common/header :: head}"></div>
<div class="layui-container fly-marginTop">
  <div class="fly-panel" pad20 style="padding-top: 5px;">
    <!--<div class="fly-none">没有权限</div>-->
    <div class="layui-form layui-form-pane">
      <div class="layui-tab layui-tab-brief" lay-filter="user">
        <ul class="layui-tab-title">
          <li class="layui-this">发表新帖<!-- 编辑帖子 --></li>
        </ul>
        <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
          <div class="layui-tab-item layui-show">
            <form   method="post">

              <div class="layui-row layui-col-space15 layui-form-item">
                <div class="layui-col-md3">
                  <label class="layui-form-label">所在专栏</label>
                  <div class="layui-input-block">
                    <select lay-verify="required" name="category" lay-filter="column">
                      <option></option>
                      <option th:if="${session.user != null && session.user.role == 1}" th:selected="${questionEdit!=null && questionEdit.category == 1}" value="1">公告</option>
                      <option th:selected="${questionEdit!=null && questionEdit.categoryI == 2}" value="2">提问</option>
                      <option th:selected="${questionEdit!=null && questionEdit.categoryI == 3}" value="3">分享</option>
                      <option th:selected="${questionEdit!=null && questionEdit.categoryI == 4}" value="4">讨论</option>
                      <option th:selected="${questionEdit!=null && questionEdit.categoryI == 5}" value="5">建议</option>
                      <option th:selected="${questionEdit!=null && questionEdit.categoryI == 6}" value="6">新闻</option>
                    </select>
                  </div>
                </div>
                <div class="layui-col-md9">
                  <label for="L_title" class="layui-form-label">标题</label>
                  <div class="layui-input-block">
                    <input type="text" id="L_title" name="title"  th:value="${questionEdit != null?questionEdit.title:''}" required lay-verify="required" autocomplete="off" class="layui-input">
                    <!-- <input type="hidden" name="id" value="{{d.edit.id}}"> -->
                    <input name="id" type="hidden" th:value="${questionEdit != null ?questionEdit.id:''}">
                  </div>
                </div>
              </div>
              <div   class="layui-form-item layui-form-text">
                <div id="editor">
                  <textarea required lay-verify="required" name="description" id="description" th:text="${questionEdit != null ?questionEdit.description:''}" style="display:none;"></textarea>
                </div>
              </div>
              <blockquote class="layui-elem-quote ">
                添加标签：
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span  style="text-align: center;line-height:18px;">找不到标签？
                  <a href="javascript:void(0);" id="createTag"><strong >创建</strong></a>
                </span>
              </blockquote>
              </blockquote>
              <div id="selected-tags">
                  <div  th:if="${questionEdit != null}" th:remove="tag">
              <span th:each="editTag:${questionEdit.tag.split(',')}" class="layui-badge selected-tag">
                <span th:text="${editTag}" th:remove="tag"></span>
                <a href="javascript:void(0);" onclick="removeTag(this)">&nbsp;&nbsp;&nbsp;✗</a>
              </span>
                  </div>
                </div>
              <!--点击标签区域-->
              <div  class="layui-tab layui-tab-brief " lay-filter="docDemoTabBrief">
                <ul  class="layui-tab-title">
                  <li  th:each="tagDTO,tagDTOStat:${tags}" th:text="${tagDTO.categoryName}"   th:class="${tagDTOStat.first ? 'layui-this':''}"></li>
                </ul>

                <div class="layui-tab-content">
                  <div  th:each="tagDTO,tagDTOStat:${tags}" th:class="${tagDTOStat.first ? 'layui-tab-item layui-show':'layui-tab-item'}" th:id="${tagDTOStat.last?'myTag':'tag'+tagDTOStat.count}"  >

                    <a href="javascript:"; th:if="${tagDTO.list != null && tagDTO.list.size() > 0}" th:each="tag:${tagDTO.list}">
                      <span class="layui-badge  tag" th:text="${tag}"></span>
                    </a>

                    <span  th:if="${tagDTO.list == null || tagDTO.list.size() == 0}" style="text-align: center;display:block">您还没有自定义标签</span>
                  </div>

                </div>
              </div>
              <div class="layui-form-item">
                <div class="layui-inline">
                  <label class="layui-form-label">悬赏米币</label>
                  <div class="layui-input-inline" style="width: 190px;">
                    <select th:disabled="${questionEdit!=null}"name="miCoin">
                      <option th:selected="${questionEdit!=null && questionEdit.miCoin == 5}" value="5">5</option>
                      <option th:selected="${questionEdit!=null && questionEdit.miCoin == 10}" value="10">10</option>
                      <option th:selected="${questionEdit!=null && questionEdit.miCoin == 15}" value="15">15</option>
                      <option th:selected="${questionEdit!=null && questionEdit.miCoin == 20}" value="20">20</option>
                      <option th:selected="${questionEdit!=null && questionEdit.miCoin == 30}" value="30">30</option>
                    </select>
                  </div>
                  <div class="layui-form-mid layui-word-aux">发表后无法更改米币</div>
                </div>
              </div>
              <div class="layui-form-item">
                  <input id="tag" th:value="${questionEdit != null ?','+questionEdit.tag:''}" name="tag" type="hidden" >
                <button class="layui-btn" lay-filter="post" lay-submit>立即发布</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:replace="common/footer :: foot"></div>
<script>
  layui.use(['layer', 'form','element'],function () {
    var form = layui.form;
    var layer = layui.layer,
            element = layui.element;
    form.render();
    form.on('submit(post)',function (data) {
      var tags = $("#tag").val();
      if (tags.length == 0){
        layer.msg("最少添加一个标签",{shift:6}) ;
        return false;
      }else {
        $.ajax({
          url: '/publish',
          type: 'post',
          data: data.field,
          dataType: 'json',
          success: function (res) {
            if (res.code == 200) {
              window.location.href = "/";
            }else {
              layer.msg(res.msg,{shift:6})
            }
          }
        })
      }
      return false;
    })

  })
  function addSelectTag(obj){
    var objVal = $(obj).text();
    var rtags = $("#tag").val();
    if (objVal.length ==0){

      var othis = $(this).text();
    } else {
      var othis = objVal;
    }
    if (rtags.indexOf(othis)>=0){
      layer.msg("标签已添加",{shift: 6});
      return;
    }
    var html = '<span class="layui-badge selected-tag">'+othis +
            '<a href="javascript:void(0);" onclick="removeTag(this)">&nbsp;&nbsp;&nbsp;✗</a>' +
            '</span>';
    $("#selected-tags").prepend(html);

    var tags = $("#tag").val();
    $("#tag").val(tags+','+othis);
  }
  $(".tag").click(addSelectTag);

</script>
<script>
  $("#createTag").click(function () {
    layer.open({
      type:1,
      area:['500px','400px'],
      title: '创建标签'
      ,content: $("#tag-create"),
      btn: ['提交', '取消']
      ,btn1: function(index,layero){
        var tag =$("#newTag").val();
        var bio = $("#tagbio").val();

        $.ajax({
          url: '/userTag/add',
          type: 'post',
          data: {tag:tag,bio:bio},
          dataType: 'json',
          success: function (res) {
            if (res.code == 1006) {
              layer.close(index);
              layer.msg(res.msg);
              var myTag = '<a  href="javascript:"; >'+ '<span  class="layui-badge tag" onclick="addSelectTag(this)">'+ tag+'</span></a>';
              $("#myTag").append(myTag);

            }else {
              layer.close(index);
              layer.msg(res.msg,{shift:6});
            }
          }
        })

      },
      btn2: function(index,layero){
        layer.close(index);
        return false;
      },
      cancel: function(layero){
        layer.closeAll();
      }

    });
  })


    function removeTag(obj) {
        var rtag = $(obj).parent().prop ('firstChild').nodeValue.trim();
        var rtags = $("#tag").val();
        var rtext = rtags.replace(','+rtag,'');
        $("#tag").val(rtext);
        $(obj).parent().remove();
    }

</script>
<script type="text/javascript">

  $(function() {
    var editor = editormd("editor", {
      height:360,
      toolbarAutoFixed     : true,
      placeholder:"请在此处编辑...",
      codeFold : true,
      syncScrolling : "single",
      saveHTMLToTextarea : false,
      searchReplace : true,
      watch : false,
      path: "/js/lib/",
      htmlDecode : "style,script|on*",
      tex : true,
      emoji : true,
      flowChart : true,
      taskList : true,
      sequenceDiagram : true,
      imageUpload : true,
      imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
      imageUploadURL: "/file/upload",
      watch: false,
      toolbarIcons: function () {
        return ["undo", "redo", "quote", "|", "bold", "hr", "italic", "del", "ucwords", "|", "h1", "h2", "h3", "h4", "h5", "h6", "list-ul", "list-ol", "preformatted-text"
          , "table", "clear", "search", "|",   "emoji", "link", "file", "faicon", "||", "image", "watch", "preview"]
      },

    });
    });

</script>
<!--<script src="/layui/layui.js"></script>-->

<script>
  layui.config({
    version: "3.0.0"
    ,base: '/mods/'
  }).extend({
    fly: 'index'
  }).use('fly');
</script>

</body>
</html>