
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>用户中心</title>
  <link rel='icon' href='/images/freemi.ico' type='image/x-ico' />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="FreeMI社区">
  <meta name="description" content="FreeMi社区">
  <link rel="stylesheet" href="/layui/css/layui.css">
  <link rel="stylesheet" href="/css/global.css">
  <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
</head>
<body>
<div th:replace="~{common/header :: head}"></div>

<div class="layui-container fly-marginTop fly-user-main">
  <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
    <li class="layui-nav-item">
      <a th:href="${'/user/home/'+session.user.id}">
        <i class="layui-icon" >&#xe68e;</i>
        我的主页
      </a>
    </li>
    <li class="layui-nav-item layui-this">
      <a href="/user/question">
        <i class="layui-icon">&#xe62a;</i>
        帖子管理
      </a>
    </li>
    <li class="layui-nav-item">
      <a href="/user/set">
        <i class="layui-icon">&#xe620;</i>
        基本设置
      </a>
    </li>
    <li class="layui-nav-item">
      <a href="/notification/all/page/1">
        <i class="layui-icon">&#xe611;</i>
        我的消息
      </a>
    </li>
    <li class="layui-nav-item  ">
      <a href="/question/recycle/page/1">
        <i class="layui-icon"></i>
        回收站
      </a>
    </li>
  </ul>

  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>
  
  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>
  
  
  <div class="fly-panel fly-panel-user" pad20>
    <!--
    <div class="fly-msg" style="margin-top: 15px;">
      您的邮箱尚未验证，这比较影响您的帐号安全，<a href="activate.html">立即去激活？</a>
    </div>
    -->
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title" id="LAY_mine">
        <li data-type="mine-jie" lay-id="index" class="layui-this">我发的帖（<span th:text="${myQuestions.total}"></span>）</li>
        <li data-type="collection" data-url="/collection/find/" lay-id="collection">我收藏的帖（<span th:text="${myCollections.total}"></span>）</li>
      </ul>
      <div class="layui-tab-content" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
          <ul class="mine-view jie-row" th:each="question:${myQuestions.list}">
            <li>
              <a class="jie-title" th:href="${'/question/'+question.id+'/page/1'}" th:text="${question.title}" target="_blank"></a>
              <i th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></i>
              <a class="mine-edit" th:href="${'/publish/'+question.id}" >编辑</a>
              <em th:text="${question.viewCount+'阅/'+question.commentCount+'答'}"></em>
            </li>

          </ul>
          <div id="LAY_page"  style="position: absolute;bottom: 10px;"></div>
        </div>
        <div class="layui-tab-item">
          <ul class="mine-view jie-row" th:each="collection:${myCollections.list}">
            <li>
              <a class="jie-title"  th:href="${'/question/'+collection.id+'/page/1'}"target="_blank" th:text="${collection.title}"></a>
              <i >收藏于<span th:text="${#dates.format(collection.collectionTime,'yyyy-MM-dd HH:mm')}" th:remove="tag"></span></i>  </li>
          </ul>
          <div id="LAY_page1" style="position: absolute;bottom: 10px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:replace="common/footer :: foot"></div>

<script src="/layui/layui.js"></script>
<script>
layui.cache.page = 'user';
layui.cache.user = {
 uid: -1

};
layui.config({
  version: "3.0.0"
  ,base: '/mods/'
}).extend({
  fly: 'index'
}).use('fly');

layui.use(['layer','laypage'], function(){
  var layer = layui.layer,
          laypage = layui.laypage;//获得layer模块


  laypage.render({
    elem: 'LAY_page'
    ,count:[[${myQuestions.total}]]//数据总数
    ,limit:[[${myQuestions.pageSize}]]
    ,curr:[[${myQuestions.pageNum}]]
    ,jump: function(obj,first){
      if (!first) {
        window.location.href = '/user/question/?pageNum=' + obj.curr;
      }
    }
  });
  laypage.render({
    elem: 'LAY_page1'
    ,count:[[${myCollections.total}]]//数据总数
    ,limit:[[${myCollections.pageSize}]]
    ,curr:[[${myCollections.pageNum}]]
    ,jump: function(obj,first){
      if (!first) {
        window.location.href = '/user/question/?pageNum=' + obj.curr;
      }
    }
  });
})
</script>

</body>
</html>