
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>登入</title>
  <link rel='icon' href='/images/freemi.ico' type='image/x-ico' />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="FreeMi社区">
  <meta name="description" content="FreeMi社区">
  <link rel="stylesheet" href="/layui/css/layui.css">
  <link rel="stylesheet" href="/css/global.css">
  <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
</head>
<body>
<div th:replace="~{common/header :: head}"></div>


<div class="layui-container fly-marginTop">
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title">
        <li class="layui-this">登入</li>
        <li><a href="/user/register">注册</a></li>
      </ul>
      <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
          <div class="layui-form layui-form-pane">
            <form method="post">
              <div class="layui-form-item">
                <label for="L_email" class="layui-form-label" >邮箱</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_email" name="email" value="freemi@freemi.com" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_pass" class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                  <input type="password" value="123456" id="L_pass" name="password" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_vercode" class="layui-form-label">验证码</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_vercode" name="verifyCode" required lay-verify="required" placeholder="请输入验证码" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid" style="padding: 0">
                  <img onclick="imageCode(this)" title="点击换一张" th:src="${'/imageCode?date='+ (new java.util.Date().getTime())}">
                </div>
              </div>
              <div class="layui-form-item">
                <button class="layui-btn layui-btn-normal" style="background-color: #337ab7!important;" type="button" lay-filter="*" lay-submit>立即登录</button>
                <span style="padding-left:20px;">
                  <a href="/user/forget">忘记密码？</a>
                </span>
              </div>
              <div class="layui-form-item fly-form-app">
                <span>或者使用社交账号登入</span>
<!--                <a href="" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" class="iconfont icon-qq" title="QQ登入"></a>-->
<!--                <a href="" onclick="layer.msg('正在通过微博登入', {icon:16, shade: 0.1, time:0})" class="iconfont icon-weibo" title="微博登入"></a>-->
                <a href="https://github.com/login/oauth/authorize?client_id=d7a2dd53de6f2e1ebee4&redirect_uri=http://47.112.152.213/githubCallback&scope=user&state=1" onclick="layer.msg('正在通过Github登入', {icon:16, shade: 0.1, time:0})" title="GITHUB登入">
                  <img src="/images/github.jpg" height="26px;" style="margin-bottom: 6px;">
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:replace="common/footer :: foot"></div>
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/layui/layui.js"></script>

<script>
    layui.use(['layer', 'form'],function () {
        var form = layui.form;
        var layer = layui.layer;
        form.render();
        form.on('submit(*)',function (data) {
            $.ajax({
                url: '/user/login',
                type: 'post',
                data: data.field,
                dataType: 'json',
                success: function (res) {
                    if (res.code == 200) {
                        window.location.href = "/";
                    }else {
                        layer.msg(res.msg)
                    }
                }
            })
            return false;
        })

    })

    function imageCode(obj) {
        obj.src = "/imageCode?date="+new Date().valueOf();
    }

    layui.cache.page = 'user';
    layui.cache.user = {
      uid: -1

    };
    layui.config({
      version: "3.0.0"
      ,base: '/mods/'
    }).extend({
      fly: 'index'
    }).use('fly');
</script>
</body>
</html>