
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>我的消息</title>
  <link rel='icon' href='/images/freemi.ico' type='image/x-ico' />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="FreeMI社区">
  <meta name="description" content="FreeMI社区">
  <link rel="stylesheet" href="/layui/css/layui.css">
  <link rel="stylesheet" href="/css/global.css">
  <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
</head>
<body>

<div th:replace="~{common/header :: head}"></div>


<div class="layui-container fly-marginTop fly-user-main">
  <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
    <li class="layui-nav-item">
      <a th:href="${'/user/home/'+session.user.id}">
        <i class="layui-icon" >&#xe68e;</i>
        我的主页
      </a>
    </li>
    <li class="layui-nav-item ">
      <a href="/user/question">
        <i class="layui-icon">&#xe62a;</i>
        帖子管理
      </a>
    </li>
    <li class="layui-nav-item">
      <a href="/user/set">
        <i class="layui-icon">&#xe620;</i>
        基本设置
      </a>
    </li>
    <li class="layui-nav-item layui-this">
      <a href="/notification/all/page/1">
        <i class="layui-icon">&#xe611;</i>
        我的消息
      </a>
    </li>
    <li class="layui-nav-item  ">
      <a href="/question/recycle/page/1">
        <i class="layui-icon"></i>
        回收站
      </a>
    </li>
  </ul>

  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>

  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>


  <div class="fly-panel fly-panel-user" pad20>
	  <div  class="layui-tab layui-tab-brief" lay-filter="user" id="LAY_msg" style="margin-top: 15px;">
	    <button th:if="${pageInfoNotifications.list != null && pageInfoNotifications.list.size() > 0}" class="layui-btn layui-btn-danger" id="LAY_delallmsg">清空全部消息</button>
	    <div  id="LAY_minemsg" style="margin-top: 10px;">
        <div th:if="${pageInfoNotifications.list == null || pageInfoNotifications.list.size() == 0}" class="fly-none">您暂时没有最新消息</div>
        <ul class="mine-msg" th:if="${pageInfoNotifications.list != null && pageInfoNotifications.list.size() > 0}" th:each="notification:${pageInfoNotifications.list}">
          <li th:id="${notification.id}"  th:if="${notification.type == 1}">
            <blockquote class="layui-elem-quote" >
              <a th:href="${'/user/home/'+notification.notifier}"  target="_blank"><cite th:text="${notification.notifierName}"></cite></a>回答了您的求解<a target="_blank" th:href="${'/question/'+notification.outerId+'/page/1#item-'+notification.commentId}"><cite th:text="${notification.outerTitle}"></cite></a>
            </blockquote>
            <p><span th:text="${#dates.format(notification.gmtCreate,'yyyy-MM-dd HH:mm')}"></span><a href="javascript:void(0);" th:onclick="delMsg([[${notification.id}]])" class="layui-btn layui-btn-small layui-btn-danger fly-delete">删除</a></p>
          </li>
          <li data-id="123" th:id="${notification.id}" th:if="${notification.type == 2}">
            <blockquote class="layui-elem-quote" >
              <a th:href="${'/user/home/'+notification.notifier}"  target="_blank"><cite th:text="${notification.notifierName}"></cite></a>回复了您的回答<a target="_blank" th:href="${'/question/'+notification.outerId}"><cite th:text="${notification.outerTitle}"></cite></a>
            </blockquote>
            <p><span th:text="${#dates.format(notification.gmtCreate,'yyyy-MM-dd HH:mm')}"></span><a th:onclick="delMsg([[${notification.id}]])" class="layui-btn layui-btn-small layui-btn-danger fly-delete">删除</a></p>
          </li>
        </ul>
      </div>
	  </div>
    <div th:if="${pageInfoNotifications.size>8}" id="notificationPage">

    </div>
  </div>

</div>

<div th:replace="common/footer :: foot"></div>
<!--<script th:src="@{/js/c-user.js}"></script>-->
<script src="/layui/layui.js"></script>

<script>

  layui.use(['layer','laypage'], function(){
    var layer = layui.layer,
            laypage = layui.laypage;//获得layer模块

    $('#LAY_delallmsg').on('click', function(){
      var othis = $(this);
      layer.confirm('确定清空吗？', function(){
        $.ajax({
          url:'/notification/remove/',
          type:'get',
          dataType:'json',
          success:function (res) {
            if (res.code == 1003){
              layer.msg(res.msg);
              $("#LAY_msg").html("<div class=fly-none>您暂时没有最新消息</div>");
            }else {
              layer.msg("删除失败");
            }
          }
        });
      });
    })


    laypage.render({
      elem: 'notificationPage'
      ,count:[[${pageInfoNotifications.total}]]//数据总数
      ,limit:[[${pageInfoNotifications.pageSize}]]
      ,curr:[[${pageInfoNotifications.pageNum}]]
      ,jump: function(obj,first){
        if (!first) {
          window.location.href = '/notification/all/page/' + obj.curr;
        }
      }
    });

  })
  function delMsg(id) {
    layer.confirm('确定删除吗？', function(){
      $.ajax({
        url:'/notification/remove/'+id,
        type:'get',
        dataType:'json',
        success:function (res) {
          if (res.code == 1003){
            $("#"+id).remove();
            layer.msg(res.msg);
          }else {
            layer.msg("删除失败");
          }
        }
      });
    })
  }


</script>
<script>
  layui.cache.page = 'user';
  layui.cache.user = {
   uid: -1

  };
  layui.config({
    version: "3.0.0"
    ,base: '/mods/'
  }).extend({
    fly: 'index'
  }).use('fly');
</script>

</body>
</html>