<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>编辑</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label required">用户名</label>
        <div class="layui-input-block">
            <input type="text" th:value="${editUser!=null?editUser.name:''}" name="name" lay-verify="required" lay-reqtext="用户名不能为空" placeholder="请输入用户名" value="" class="layui-input">
        </div>
    </div>
    <div th:if="${editUser == null}" class="layui-form-item">
        <label class="layui-form-label required">密码</label>
        <div class="layui-input-block">
            <input type="password" name="password" lay-verify="required" lay-reqtext="密码不能为空" placeholder="请输入密码" value="" class="layui-input">
        </div>
    </div>
    <div th:if="${editUser == null}" class="layui-form-item">
        <label class="layui-form-label required">确认密码</label>
        <div class="layui-input-block">
            <input type="password" lay-verify="required" name="repassword"  placeholder="请确认密码"  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">性别</label>
        <div class="layui-input-block">
            <input type="radio" th:checked="${editUser!=null&&editUser.gender == 0}"  name="gender" value="0"  title="男" >
            <input type="radio" th:checked="${editUser!=null&&editUser.gender == 1}" name="gender" value="1" title="女">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">邮箱</label>
        <div class="layui-input-block">
            <input type="email" lay-verify="required" name="email" th:value="${editUser!=null?editUser.email:''}" placeholder="请输入邮箱"  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">米币</label>
        <div class="layui-input-block">
            <input type="email" lay-verify="required" name="miCoin" th:value="${editUser!=null?editUser.miCoin:''}" placeholder="请输入米币"  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">头像</label>
        <div class="layui-input-inline">
            <input type="text" id="avatar_url" name="avatarUrl"  th:value="${editUser!=null?editUser.avatarUrl:''}" lay-verify="required" placeholder="请上传图片" autocomplete="off" class="layui-input" >
            <span class="loading"></span>
        </div>
        <button style="float: left;" type="button"  id="set-avatar" class="layui-btn upload-img">
            <i class="layui-icon">&#xe67c;</i>上传头像
        </button>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" name="id" th:value="${editUser!=null?editUser.id:''}">
            <button class="layui-btn" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
</div>
<script src="/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form',"upload"], function () {
        var form = layui.form,
            layer = layui.layer,
            upload = layui.upload,
            $ = layui.$;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            var url = data.field.id?'/system/edit/siteUser':'/system/add/siteUser';
            if (!data.field.id){
                if (data.field.password != data.field.repassword){
                    layer.msg("两次密码不一致");
                    return ;
                }
            }
            $.ajax({
                url: url,
                type: 'post',
                data: data.field,
                dataType: 'json',
                success: function (res) {
                    layer.msg(res.msg)
                    var iframeIndex = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(iframeIndex);
                }
            })

            ;

            return false;
        });

        upload.render({
            elem: '#set-avatar'
            ,url: '/user/upload/'
            ,size: 1024
            ,done: function(res){
                if(res.success == 1){
                    $("#avatar_url").val(res.url);
                    layer.msg(res.message, {icon: 5});
                } else {
                    layer.msg(res.message, {icon: 5});
                }

            }
            ,error: function(){
                layer.msg("错误", {icon: 5});
            }
        });

    });





</script>
</body>
</html>