<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>编辑</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
    <script src="/js/jquery-3.4.1.min.js"></script>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label required">登入名</label>
        <div class="layui-input-block">
            <input type="text" th:value="${editUser!=null?editUser.username:''}" name="username" lay-verify="required" lay-reqtext="用户名不能为空" placeholder="请输入用户名" value="" class="layui-input">
        </div>
    </div>
    <div th:if="${editUser == null}" class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-block">
            <input type="password" lay-verify="required" name="password"  placeholder="请输入密码"  class="layui-input">
        </div>
    </div>
    <div th:if="${editUser == null}" class="layui-form-item">
        <label class="layui-form-label">确认密码</label>
        <div class="layui-input-block">
            <input type="password" lay-verify="required" name="repassword"  placeholder="请确认密码"  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">邮箱</label>
        <div class="layui-input-block">
            <input type="email" lay-verify="required" name="email" th:value="${editUser!=null?editUser.email:''}" placeholder="请输入邮箱"  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">电话</label>
        <div class="layui-input-block">
            <input type="email" lay-verify="required" name="phone" th:value="${editUser!=null?editUser.phone:''}" placeholder="请输入号码"  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">角色</label>
        <div class="layui-input-block">
            <input th:each="role,roleStat :${roles}" type="checkbox" th:checked="${editUser!=null&&editUser.roles.contains(role)}" name="roleIds"  th:title="${role.zhName}" th:value="${role.id}" >
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <textarea name="bio" class="layui-textarea"th:text="${editUser!=null?editUser.bio:''}" placeholder="请输入备注信息"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" name="id" th:value="${editUser!=null?editUser.id:''}">
            <button class="layui-btn" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
</div>
<script src="/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form',"upload"], function () {
        var form = layui.form,
            layer = layui.layer,
            upload = layui.upload,
            $ = layui.$;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            if (!data.field.id){
                if (data.field.password != data.field.repassword){
                    layer.msg("两次密码不一致");
                    return ;
                }
            }
            if ($("input:checkbox[name='roleIds']:checked").length == 0) {
                layer.msg("请选择角色")
                return;
            }

            //获取checkbox[name='foodId']的值，获取所有选中的复选框，并将其值放入数组中
            var arr = new Array();
            $("input:checkbox[name='roleIds']:checked").each(function(i){
                arr[i] = $(this).val();
            });
            //  替换 data.field.foodId的数据为拼接后的字符串
            data.field.roleIds = arr.join(",");//将数组合并成字符串
            // alert(JSON.stringify(data.field));
            $.ajax({
                url: data.field.id?'/system/edit/systemUser/':'/system/add/systemUser',
                type: 'post',
                data: data.field,
                dataType: 'json',
                success: function (res) {
                        layer.msg(res.msg,{
                            icon: 1
                            ,time: 1000
                            ,shade: 0.1
                        })
                        var iframeIndex = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(iframeIndex);

                }
            })

            ;

            return false;
        });


    });





</script>
</body>
</html>