.tag:hover {
    background-color: #339dff;
    color: #fff !important;
    text-decoration-line: none;
}
.tag {
    text-decoration-line: none;
    cursor: pointer;
    display: inline-block;
    padding: 2px 5px;
    background-color: #99cfff;
    font-size: 12px;
    color: #fff !important;
    border-radius: 4px;
    margin: 4px;
}

.selected-tag:hover {
    background-color: #5FB878;
    color: #fff !important;
    text-decoration-line: none;
}
.selected-tag{
    text-decoration-line: none;
    cursor: pointer;
    display: inline-block;
    padding: 2px 5px;
    background-color: #009688;
    font-size: 12px;
    color: #fff !important;
    border-radius: 4px;
    margin: 4px;
}