
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>404 - FreeMI社区</title>
    <link rel='icon' href='/images/freemi.ico' type='image/x-ico' />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="FreeMI社区">
  <meta name="description" content="FreeMI社区">
  <link rel="stylesheet" href="/layui/css/layui.css">
  <link rel="stylesheet" href="/css/global.css">
</head>
<body>
<div th:replace="common/header :: head"></div>
<div th:replace="common/column :: column"></div>

<div class="layui-container fly-marginTop">
	<div class="fly-panel">
	  <div class="fly-none">
	    <h2><i class="iconfont icon-404"></i></h2>
        <p></p>
<!--	    <p>页面或者数据被<a href="/user/home/5" target="_blank"> 纸飞机 </a>运到火星了，啥都看不到了…</p>-->
          <p th:text="${message}"></p>
      </div>
	</div>
</div>



<script src="/layui/layui.js"></script>
<script>

layui.config({
  version: "3.0.0"
  ,base: '/mods/'
}).extend({
  fly: 'index'
}).use('fly');
</script>

</body>
</html>